:root {
    --size-icon-normal: 2em;
    --font-family-body: 'Glegoo', serif;
    --font-family-display: 'Noto Sans', sans-serif;


    --color-text: black;
    --color-background:ivory;
    --color-brand: rgb(42 143 42);
    --color-accent: var(--color-brand);
    --color-border-control: var(--color-accent);
    --color-foreground-control: #ffffff;

    --size-type-xlarge: 2rem;
}

body.light-mode {
    --color-text:black;
    --color-background:ivory;
}

body.dark-mode {
    --color-text: white;
    --color-background:black;
    --color-brand: rgb(47, 26, 165);
}